{% extends 'base/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block breadcrumb %}Dashboard{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          {% if event_ctg %}
            <h3>{{ event_ctg }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>Event Category</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'event-category-list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          {% if event %}
            <h3>{{ event }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'event-list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          {% if user %}
            <h3>{{ user }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          {% if complete_event %}
            <h3>{{ complete_event }}</h3>
          {% else %}
          <h3>0</h3>
          {% endif %}

          <p>Complete Event</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="{% url 'complete-event' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- Event List -->
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <h5>Event List</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                  <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                    <thead>
                        <tr role="row">
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Venue</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                          <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ event.name|capfirst }}</td>
                              <td>{{ event.category }}</td>
                              <td>{{ event.start_date }}</td>
                              <td>{{ event.end_date }}</td>
                              <td>{{ event.venue|capfirst }}</td>
                              <td>
                                  {% if event.status == 'active' %}
                                    <a href="{% url 'update-event-status' event.id %}" class="text-success">{{ event.status|title }}</a>
                                  {% elif event.status == 'completed' %}
                                    <a href="{% url 'update-event-status' event.id %}" class="text-primary">{{ event.status|title }}</a>
                                  {% else %}
                                    <a href="{% url 'update-event-status' event.id %}" class="text-danger">{{ event.status|title }}</a>
                                  {% endif %}
                              </td>
                              <td>
                                  <a class="btn btn-info" href="{% url 'event-detail' event.pk %}" title="view">
                                      <i class="fa fa-eye"></i>
                                  </a>
                                  <a class="btn btn-info" href="{% url 'event-edit' event.pk %}" title="edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                  <a class="btn btn-danger" href="{% url 'event-delete' event.pk %}" title="delete">
                                      <i class="fa fa-trash"></i>
                                  </a>
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}