{% extends 'base/base.html' %}
{% block title %}Event Detail{% endblock title %}
{% block breadcrumb %}Event Detail{% endblock breadcrumb %}

{% block extrahead %}
    {% load static %}
    <style>
        @font-face { font-family: JuneBug; src: url({% static 'fonts/Minion-Regular.ttf' %}); }
        span {
            font-size: 20px;
        }
    </style>
{% endblock extrahead %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Event Detail</h5>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success" href="{% url 'event-list' %}">Event List</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <img src="{{ event.eventimage.image.url }}" alt="Image" height="500px" width="100%">
                    <div class="row">
                        <div class="com-md-6">
                            <table class="table">
                                <tr>
                                    <td><span>Event Name: {{ event.name }}</span></td>
                                    <td><span>Event Category: {{ event.category }}</span></td>
                                    <td><span>Start Date: {{ event.start_date }}</span></td>
                                    <td><span>End Date: {{ event.end_date }}</span></td>
                                </tr>
                                <tr>
                                    <td><span>Venue: {{ event.venue }}</span></td>
                                    <td><span>Scheduled Status: {{ event.scheduled_status }}</span></td>
                                    <td><span>Points: {{ event.points }}</span></td>
                                    <td><span>Maximum Attende: {{ event.maximum_attende }}</span></td>
                                </tr>
                            </table>
                            <p>{{ event.description|safe }}</p>
                            
                        </div>
                    </div>
                </div>
                <div class="footer text-center m-2">
                    <a href="{% url 'event-list' %}" class="btn btn-success">Back to Event List</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}