{% extends 'base/base.html' %}
{% block title %}Event List{% endblock title %}
{% block breadcrumb %}Event List{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Event List</h5>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success" href="{% url 'event-create' %}">Create Event</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                      <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                              <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{ event.name }}</td>
                                  <td>{{ event.category }}</td>
                                  <td>
                                      <img src="{{ event.image.url }}" alt="Image" height="100px" width="100px">
                                  </td>
                                  <td>
                                    <a href="{% url 'update-event-status' event.id %}">{{ event.status }}</a>
                                  </td>
                                  <td>
                                      <a class="btn btn-info" href="{% url 'event-edit' event.pk %}">
                                          <i class="fa fa-edit"></i>
                                      </a>
                                      <a class="btn btn-danger" href="{% url 'event-delete' event.pk %}">
                                          <i class="fa fa-trash"></i>
                                      </a>
                                  </td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}