{% extends 'base/base.html' %}
{% block title %}Event Category List{% endblock title %}
{% block breadcrumb %}Event Category List{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Event Category List</h5>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success" href="{% url 'create-event-category' %}">Create Category</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                      <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in event_category %}
                              <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{ category.name }}</td>
                                  <td>{{ category.code }}</td>
                                  <td><img src="{{ category.image.url }}" alt="Image" height="50px"></td>
                                  <td>{{ category.status }}</td>
                                  <td>
                                      <a class="btn btn-info" href="{% url 'edit-event-category' category.pk %}">
                                          <i class="fa fa-edit"></i>
                                      </a>
                                      <a class="btn btn-danger" href="{% url 'delete-event-category' category.pk %}">
                                          <i class="fa fa-trash"></i>
                                      </a>
                                  </td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}