{% extends 'base/base.html' %}
{% block title %}Event List{% endblock title %}
{% block breadcrumb %}Event List{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Event List</h2>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success" href="{% url 'event-create' %}">Create Event</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>                  
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th style="width: 40px">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr role="row">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'event-detail' event.id %}">{{ event.name }}</a>
                                    </td>
                                    <td>{{ event.category }}</td>
                                    <td>
                                        <a href="{% url 'update-event-status' event.id %}">{{ event.status }}</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'event-edit' event.pk %}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}